.offer {
  padding: 0;

  h1 {
    color: #ffffff;
  }

  h3 {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 40px 0;
  }
}

.offer-slider {
  &__caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20, 20, 20, 0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;

    h3 a {
      color: #fff;
    }
    h3 a:hover {
      color: #ff3;
    }
    
  }

  &__item {
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
    background-color: #ff3;
  }

  &__item_first {
    background-image: url(./images/slider-image1.jpg);
    background-position: center;
  }

  &__item_second {
    background-image: url(./images/slider-image2.jpg);
  }
}
