#about {
  h2 {
    margin-bottom: 30px;
  }

  .about-info {
    height: 100%;
    display: flex;
    align-items: center;
  }

  figure {
    display: flex;

    span {
      background: #29ca8e;
      border-radius: 100%;
      color: #ffffff;
      font-size: 25px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      flex-shrink: 0;
    }
  }
}
