.team-thumb {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.team-info {
  padding: 20px 30px;
}

.team-image img {
  width: 100%;
}

.team-thumb .social-icon {
  border-top: 1px solid #f0f0f0;
  padding: 4px 20px 0 20px;
}

.team-thumb .social-icon li a {
  background: #ffffff;
  color: #252020;
}

.team-info h3 {
  margin: 0;
}
