footer {
  background: #252020;
  padding: 120px 0;

  .section-title {
    padding-bottom: 10px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  a,
  p {
    color: #909090;
  }
  
  strong {
    color: #d9d9d9;
  }
  
  address p {
    margin-bottom: 0;
  }
  
  .social-icon {
    margin-top: 25px;
  }
}

.footer-info {
  margin-right: 2em;
  
  h2 {
    color: #ffffff;
    padding: 0;
  }
}

.footer_menu {
  h2 {
    margin-top: 2em;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px 5px 0;
  }
}

.newsletter-form {
  .form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #303030;
    height: 50px;
    margin: 5px 0;
  }
  
  input[type="submit"] {
    background: transparent;
    border: 1px solid #f9f9f9;
    border-radius: 50px;
    color: #ffffff;
    display: block;
    margin-top: 20px;
    outline: none;
    width: 50%;
  }
  
  input[type="submit"]:hover {
    background: #29ca8e;
    border-color: transparent;
  }
  
  .form-group span {
    color: #909090;
    display: block;
    font-size: 12px;
    margin-top: 20px;
  }
}
